
.content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    background-color: #ededed;
    margin-bottom: 2%;
    font-family: 'Cuprum', sans-serif;
   

}

.img_and_progress {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
   



}

.img_and_progress img {
    display: flex;
    width: 50%;
    height: 40%;
    margin-right:5%;
    border-radius: 10%;
    margin-top: 2%;
    border: solid #FF6347;
   
}

.progress {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: -5%;
    justify-content: center;
    align-items: flex-start;
}
.progress p{
justify-content: center;
}



.container_center {
    display: flex;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #FF6347;
   

}

.button {
    display: flex;
    background-color: #FF6347;
    border-radius: 15px;
    border: 1px solid grey;
    width: 40%;
     justify-content: center;
     height: 20%;

}

.questions {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.5vw;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.heading img {
    width: 20%;
    height: 20%;
   
    padding-top: 2%;
}
.personal_info img
{   display: flex;
    width: 20%;
}
.youtube{
    
    margin-top: -1%; 
}

.personal_info img{
    display: flex;
    align-items: flex-end;
}
#carina{
    width: 50%;
    height: 30%;
}
#andrey{
    width: 50%;
    height: 30%;
}
